<h1>Create New Song</h1>

<form action="/songs" method="post">
  <p><label for="name">Name: </label><input type="text" id="Name" name="song[name]"></p>

  <p>Choose Genre(s):</p>
  <% @genres.each do |g| %>
  <!-- <p><input type="checkbox" name="song[genres][]" value="<%= g.name %>"></p> -->
  <p><input type="checkbox" name="song[genres][]" id="<%= g.name %>" value="<%= g.id %>"><%= g.name %></p>
<!-- <p><%= g.name %></p> -->
  <% end %>

<p>Choose Artist</p>
  <% @artists.each_with_index do |a, i| %>
  <p><input type="checkbox" name="song[artist]" id="Name" value="<%= a.id %>"><%= a.name %></p>
    <!-- <% if i % 3 == 0 && i > 0 %>
      <br></p>
    <% end %> -->
  <% end %>
<p>Or create new artist:</p>
  <p>Artist Name: <input type="text" id="Artist Name" name="artist"> </p>
  <input type="submit" name="submit" value="Create">
</form>
